main{
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
main h3{
  text-align: center;
  font-size: 30px;
  color: #311b92;
}
.container{
  width: 90vw;
  margin: 5rem auto;
  background: #9575cd;
  border-radius: 0.5rem;
  padding: 2rem 2rem;
  max-width: 920px;
}
.btn{
  font-size: 16px;
  background: #9575cd;
  border: transparent;
  width: 2rem;
  height: 2rem;
  color: beige;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 1rem;
  align-self: center;
  min-width: 2rem;
}
.content{
  padding: 1rem 1.5rem;
  background: #d1c4e9;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.content header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content h4{
  color: #311b92;
  font-size: 20px;
}
.content p{
  color: #444;
}